<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required permission to get contact data in our application -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Required Permission to access users location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--    Required permission to post notification for SDK 33+ -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--    Capture images using Camera-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--   Permission for android below 11(R) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--   Permission for android 11(R) and above -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--   Android 10 only requires android:requestLegacyExternalStorage="true" -->

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProject"
        tools:targetApi="31">
        <activity
            android:name=".ui.activities.MainActivity2"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <!-- It is used to pick share image broadcast and open this activity if user select our app-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui_activity.UiActivity" android:exported="false" />

        <!--    Capture images using Camera -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.roomdb.testproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--    Register service to send notification -->
        <service
            android:name=".ui.fragments.services.channelclass.ServiceExample"
            android:foregroundServiceType="location" />

        <!--    Register Location service to send notification -->
        <service
            android:name=".ui.fragments.permissionmanager.locationutils.LocationService"
            android:foregroundServiceType="location" />

    </application>

</manifest>